* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #464f54;
}
.post-editor {
    margin: 150px 70px;
    padding: 202px 130px 100px 125px;
    min-height: 183vh;
    background: #ffffff;
    box-shadow: 0 0 24px #000000;
}
.toolbars {
    width: 109%;
    /* margin-left: 16%; */
    height: 0;
    top: 304px;
    position: sticky;
    transform: translate(70px, -304px);
}
.post-title-bar {
    padding: 50px 0 0 60px;
    height: 187px;
    background: #181818;
    color: #fefefe;
}
.post-title-bar label {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    opacity: .6;
    letter-spacing: 10px;
}
.post-title-bar input{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 3px solid #303030;
    outline: none;
    color: #fefefe;
    font-family: Playfair Display, serif;
    font-size: 52px;
}
.post-toolbar {
    display: flex;
    padding-left: 42px;
    gap: 20px;
    margin-left: 64px;
    height: 76px;
    background: #fbc02d;
}
.post-toolbar button {
    background: none;
    border: none;
    cursor: pointer;
}
.post-toolbar img {
    height: 28px;
    filter: invert(1);
    opacity: .6;
    transition: ease .45s;
}
.post-toolbar img:hover {
    opacity: 1;
}
